*{
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: papayawhip;
    margin: 0;
    padding: 0;
}
main{
    max-width: 100%;
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: rgb(161, 108, 108);
}
.navbar .logo-img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-left: 10px;
}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 20px;
}
.navbar ul li{
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    margin: 1px 2px;
    list-style: none;
    cursor: pointer;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
}
.navbar ul li:hover{
    background-color: rgb(240, 201, 168);
}




.hero{
    display: grid;
    grid-template-columns: minmax(300px, 2fr) 3fr;
    grid-auto-rows: 550px;
    margin: 100px 20px;
}
.hero-img{
    margin-top: 20px;
    width: 100%;
    height: 100%;
    object-fit: contain;/*Hace que la imagen se ajuste al espacio
    que esta ocupando, para que se vea completa*/

}
.info{
    align-self: center;
}
.info .title{
    color: seagreen;
    font-size: 60px;
    margin-bottom: 24px;
}
.info p{
    font-size: 20px;
    margin-bottom: 50px;
}
.info .botom{
    margin-left: 100px;
    border: 2px solid seagreen;
    border-radius: 8px;
    background-color: paleturquoise;
    font-size: 18px;
    cursor: pointer;
    padding: 12px;

}
.info .botom a{
    text-decoration: none;
    color: rgb(23, 46, 148);

}
.info .botom:hover{
    background-color: rgb(209, 159, 121);
}
.platos{
    margin: 150px 0;
}
.platos-title{
    color: rgb(94, 199, 140);
    box-shadow: rgb(96, 101, 121);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 100px;
}

.platos-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 200px));
    grid-auto-rows: 1fr;
    gap: 20px;
   justify-content: center;
   margin-bottom: 200px;
}
.plato-item{
    width: 100%;
    height: 100%;
    object-fit: cover; /*Para que las img se vean de calidad, en su estado normal (Sin encogerse)*/
    border: 2px solid green;
    border-radius: 20px;
    cursor: pointer;
}
.plato-item__big{
    grid-area: 1 / 1 / 3 / 3;
}

.menu{
    margin-bottom: 100px;
}
.menu-title{
    font-size: 40px;
    color: rgb(94, 199, 140);
    font-weight: bolder;
    text-align: center;
    margin-bottom: 50px;
}
.menu-grid{
    display: grid;
    /* gap: 10px;
    align-content: center;
    height: 800px;
    grid-template-columns: minmax(50px, 100px) minmax(50px, auto);
    grid-template-rows: 50px; */
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 150px);
    gap: 25px;
}
.menu-grid-item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}
.menu-grid-item{
    background-color: rgb(240, 201, 168);
    padding: 15px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.menu-grid-item:hover{
    background-color: rgb(209, 159, 121);
}

/**/

.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 4rem;
    background-color: rgb(161, 108, 108);
    margin-top: 5rem;
}

.footer ul{
    display: flex;
    list-style: none;
    padding: 0px;
}
.footer .pp{
    padding: 0;
    font-size: 1.1rem;
}
.footer ul li img{
    width: 2.5rem;
    height: 2.5rem;
    margin: 10px;
    padding: 0;
}
@media (max-width: 500px) {
    .header{
        width: 100%;
        height: 100px;
    }
    .navbar{
        width: 100%;
        height: 100px;
    }
    .navbar ul{
        width: 100vh;
        height: 100px;
        margin-top: 2px;
        /* margin-right: 60px; */
        /* align-items: center; */
    }
    .navbar ul li a{
        width: 60px;
        height: 20px;
        margin: 4px 2px;
        font-size: 16px;
    }
    .logo-img{
        margin-top: 10px;
    }
    .hero{
        grid-template-columns: minmax(300px, 500px);
        justify-content: center;
    }
    .hero-img{
        display: none;
    }
    .platos-grid{
        grid-template-columns: repeat(auto-fit, minmax(75px, 100px));
    }
    .menu-grid-item{
        width: 120px;
        height: 120px;
        margin: 5px;
    }

    .footer ul li a img{
        width: 2rem;
        height: 2rem;
        margin: 10px;
    }
    .pp{
        margin-left: 20px;
    }
}